[common]
user = ""
logfile = "/var/log/go-carbon/go-carbon.log"
log-level = "info"
graph-prefix = "carbon.agents.{host}"
max-cpu = 2
metric-interval = "0m10s"
metric-endpoint = "local"

[whisper]
data-dir = "{{ graphite_storage_directory }}"
schemas-file = "{{ graphite_config_directory }}/storage-schemas.conf"
aggregation-file = "{{ graphite_config_directory }}/storage-aggregation.conf"
workers = 1
max-updates-per-second = 0
enabled = true
sparse-create = false

[cache]
max-size = 1000000
input-buffer = 51200
write-strategy = "noop"

[udp]
listen = ":2003"
enabled = true
log-incomplete = false

[tcp]
listen = ":2003"
enabled = true

[pickle]
listen = ":2004"
max-message-size = 67108864
enabled = true

[carbonlink]
listen = ":7002"
enabled = true
read-timeout = "30s"
query-timeout = "100ms"

[carbonserver]
listen = ":8080"
enabled = true
buckets = 10
max-globs = 100
metrics-as-counters = true
read-timeout = "1m0s"
write-timeout = "1m0s"
scan-frequency = "5m0s"
query-cache-enabled = true
query-cache-size-mb = 0
find-cache-enabled = true

[dump]
enabled = false
path = ""
restore-per-second = 0

[pprof]
listen = ":7007"
enabled = false
